.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
    margin-top:20vh;
  min-height: calc(100vh - 96px);
    flex: 1;
}

.aside {
  width: 100%;
  border: 1px solid #ebe8e8;
  padding: 1rem;
  order: 0;
  display: none;
    background-color: var(--bg-color);
}

.aside.open {
  display: block;
}

.products {
  width: 100%;
  overflow-y: auto;
  padding: 1rem;
  order: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: var(--footer-bg);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
      margin-top:5vh;
    min-height: calc(100vh - 104px);
  }

  .aside {
    width: 280px;
  }

  .products {
    flex: 1;
    padding: 1.5rem;
  }

  .footer {
    height: 64px;
    font-size: 16px;
  }
}


/* Laptop styles (1024px and up) */
@media (min-width: 1024px) {
  .main {
    min-height: calc(100vh - 108px);
  }

  .aside {
    width: 320px;
    padding: 1.5rem;
  }

  .products {
    padding: 2rem;
  }

  .footer {
    height: 72px;
    font-size: 16px;
  }
}
